In [ ]:
#Table creation of any number by using loop
a=int(input("Enter a number:-"))
for a in range(1,11,2):      # 1 is start point,11 is macro stop at 11-1,2 is increment point
    print(a,end=" ")

1 3 5 7 9

In [ ]:
a="hello"  
for i in a:    # i found the string value
    print(i)

h
e
l
l
o

In [4]:
for a in range(1,11):
    print(a,end =" ")

1 2 3 4 5 6 7 8 9 10

In [1]:
a=int(input("Enter a number:- "))
for a in range(1,11):
    print(a*5,end=" ")

5 10 15 20 25 30 35 40 45 50

In [5]:
#creation of table 
num=int(input("Enter a number:-"))
for i in range(1, 11):
    print(num,"*",i,"=",num*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [9]:
#generate 5 randam no betwn 1 to 50 and check they are even or odd

for i in range(1,11):
    if i%2 == 0:
        print(i,"is EVEN")
    else:
        print(i,"is ODD")

1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
8 is EVEN
9 is ODD
10 is EVEN

In [11]:
import random
even=0
odd=0
for i in range(5):
    num = random.randint(1,50)
    if num%2 == 0:
        print(num,"is EVEN")
        even=even+1
    else:
        print(num,"is ODD")  
        odd=odd+1  
print("The Count of EVEN is {} and ODD count is {}".format(even,odd))

47 is ODD
33 is ODD
13 is ODD
17 is ODD
31 is ODD
The Count of EVEN is 0 and ODD count is 5

In [14]:
#count the occurance of "a" in anaconda
name="anaconda"
count=0
for i in name:
    if i == "a":
        count = count+1     
print("The occurance of a in anaconda is:- ",count)

The occurance of a in anaconda is:-  3

In [18]:
name=(input("Enter a name:-"))
find=(input("Enter a value need to search:-"))
count=0
for i in name:
    if i ==find:
        count=count+1
print("The Total no of {} found in {} is equal to {}".format(find,name,count))

The Total no of a found in ram is equal to 1

In [1]:
# 1. Write a program to print numbers from 1 to 10 using for loop.
# 2. Write a program using a for loop to print all even numbers from 1 to 20.
# 3. Write a program to find the sum of numbers from 1 to 10 using a loop.
# 4. Write a program that prints the numbers from 10 to 1 using a for loop. 
# 5. Write a program that print the square of each number from 1 to 10.
# 6. Write a program to display the multiplication table of a number entered by the user.

#7. Print pattern using loop
#     *
#     **
#     ***
#     ****

for a in range(1,11):
    print(a,end =" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# 4. Write a program that prints the numbers from 1 to 10 using a for loop.
for a in range(1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 5. Write a program that prints the numbers from 10 to 1 using a for loop.
for a in range(10,0,-1):
    print(a,end=" ")

10 9 8 7 6 5 4 3 2 1

In [4]:
a=int(input("Enter a number:- "))
for a in range(1,11,2):
    print(a)

1
3
5
7
9

In [ ]:
# 2. Write a program using a for loop to print all even numbers from 1 to 20.
count=0
for i in range (1,21):
    if i%2 == 0:
        print("Even Number:- ",i )
        count=count+1
print("The Total Even no between 1 to 20 is equal to {} ".format(count))

Even Number:-  2
Even Number:-  4
Even Number:-  6
Even Number:-  8
Even Number:-  10
Even Number:-  12
Even Number:-  14
Even Number:-  16
Even Number:-  18
Even Number:-  20
The Total Even no between 1 to 20 is equal to 10

In [14]:
# 3. Write a program to find the sum of numbers from 1 to 10 using a loop.
a=0
for i in range(1,11):
    a=a+i
print("The addition of 1 ot 10 number is equal to :-",a)

The addition of 1 ot 10 number is equal to :- 55

In [22]:
# 5. Write a program that print the square of each number from 1 to 10.
num=1
for i in range(1,11):
    num=i*i
    print(i,"*",i,"=",num)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [17]:
 #6. Write a program to display the multiplication table of a number entered by the user.
num=int(input("Enter a number:- "))
a=1
for i in range(1,11):
    a=num*i
    print(num,"*",i,"=",a)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
#print A A B B B C C C
for i in range(2):
    i="A"
    print(i,end=" ")
for i in range(3):
    i="B"
    print(i,end=" ")    
for i in range(3):
    i="C"
    print(i,end=" ")

A A B B B C C C

In [3]:
#Input: "aabbbcdde"
#output: "abcde"
a="aabbbcdde"
r="" #a
for i in a:
    if i not in r:
        r=r+i
print(r)

abcde

In [4]:
#find duplicate in "aabbcdde"
#output is abd
a = "aabbbcdde"
r = ""
d = ""

for i in a:
    if i not in r:
        r = r + i
        count = 0
        for j in a:
            if i == j:
                count += 1
        if count > 1:
            d = d + i

print("duplicate characters is equal to","=", d)

duplicate characters is equal to = abd

In [11]:
#perform reverse pattern of (*) 5,4,3,2,1
for i in range (1,6):
    print("*"*i)

*
**
***
****
*****

In [13]:
#perform reverse pattern of (*) 5,4,3,2,1
for i in range (5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [ ]:
#news = full from === n for north e==east
for i in "news":
    if i in "nN":
        print(i,"stands for North") # NEWS
    elif i in "eE":
        print(i,"stands for East")
    elif i in "wW":
        print(i,"stands for West")
    else:
        print(i,"stands for South")

n stands for North
e stands for East
w stands for West
s stands for South

In [9]:
#find no of Vowels and consonent in string "Hello How are you"
text = "Hello How are you"

vowels = "aeiouAEIOU"
vowel_count = 0
consonant_count = 0

for i in text:            
    if i in vowels:
        vowel_count += 1
    elif i != " ":        # ignore spaces
        consonant_count += 1

print("Text:", text)
print("Vowels:", vowel_count)
print("Consonants:", consonant_count)

Text: Hello How are you
Vowels: 7
Consonants: 7