In [2]:
#Assignment of different variable
a=b=c=0
print(a,b,c)

0 0 0

In [6]:
a,b=10,5
add,multi,div,=(a+b),(a*b),(a/b)
print(add,multi,div)

15 50 2.0

In [9]:
#swapping of variable
a,b=100,500
a,b=b,a
print("The value of a and b is :- " , a,b)

The value of a and b is :-  500 100

In [10]:
#Assign different data types
a,b,c,flag =4,"Python",3.14,False
print(a,b,c,flag)

4 Python 3.14 False

In [17]:
#print variable and there type
x=5
print("The value of X is:- ",x)
print("The Data type of x is:- ",type(x))

The value of X is:-  5
The Data type of x is:-  <class 'int'>

In [18]:
y=70.78
print("The value of X is:- ",y)
print("The Data type of x is:- ",type(y))

The value of X is:-  70.78
The Data type of x is:-  <class 'float'>

In [19]:
z=2+7j
print("The value of X is:- ",z)
print("The Data type of x is:- ",type(z))

The value of X is:-  (2+7j)
The Data type of x is:-  <class 'complex'>

In [ ]:
#One line to print value with there data types
a=10
b=11.22
c=True
d="Bhagwat"
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

10 <class 'int'>
11.22 <class 'float'>
True <class 'bool'>
Hellow Bhagwat <class 'str'>