In [2]:
#1. Write a Python program to create a set with 5 numbers. 
# Output: `{1, 2, 3, 4, 5}`
s={1,2,3,4,5}
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [6]:
# 2. Write a Python program to check if an element exists in a set. 
#    Input: `3 in {1, 2, 3, 4}` 
#    Output: `True`
s = {1,2,3,4}
print(3 in s)  # used in function

True

In [7]:
# 3. Write a Python program to find the length of a set. 
#    Input: `{10, 20, 30}` 
#    Output: `3

s = {10,20,30}
print(len(s))

3

In [1]:
# 4. Write a Python program to convert a list to a set. 
#    Input: `[1, 2, 2, 3]` 
#    Output: `{1, 2, 3}
list1 = [1,2,2,4]
myset=set(list1)
print(myset)

{1, 2, 4}

In [2]:
# 5. Write a Python program to convert a set to a list. 
#    Input: `{1, 2, 3}` 
#    Output: `[1, 2, 3]` (order may vary)
set1 = {1,2,3}
list1 = list(set1)
print(list1)

[1, 2, 3]

In [3]:
# 6. Write a Python program to copy one set into another. 
#    Input: `set1 = {10, 20}`, Output: `set2 = {10, 20}` 

set1 = {10,20}
set2 = set1.copy()
print(set2)

{10, 20}

In [4]:
# 7. Write a Python program to clear all elements from a set. 
#    Input: `{1, 2, 3}` 
#    Output: `set()` (empty set) 

set1 = {1,2,3}
print(set1.clear())

None

In [ ]:
# 8. Write a Python program to remove a specific element using `discard()`. 
#    Input: `{5, 6, 7}`, discard `6` 
#    Output: `{5, 7}` 
set1 = {5,6,7}
set1.discard(6)  # if no value in set, no exception throw
print(set1)

{5, 7}

In [10]:
# 9. Write a Python program to add an element to an empty set. 
#    Input: `set()`, add `100` 
#    Output: `{100}` 

set1 = set()
set1.add(100)
print(set1)

{100}

In [14]:
# 10. Write a Python program to print all elements of a set using a for loop. 
#     Input: `{10, 20, 30}` 
#     Output: 
 
# ``` 
# 10   
# 20   
# 30

set1 = {10,20,30}
for i in set1:
    print(i)

10
20
30

In [ ]:
# 1. Write a Python program to create a set from a list and remove duplicates. 
#    Input: `[1, 2, 2, 3, 4, 4, 5]` 
#    Output: `{1, 2, 3, 4, 5}` 

list1 = [1,2,2,3,4,4,5]
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [16]:
# 2. Write a Python program to add a single element to a set. 
#    Input: `{1, 2, 3}`, add `4` 
#    Output: `{1, 2, 3, 4}` 

set1 = {1,2,3}
set1.add(4)
print(set1)

{1, 2, 3, 4}

In [18]:
# 3. Write a Python program to add multiple elements to a set. 
#    Input: `{1, 2}`, add `[3, 4, 5]` 
#    Output: `{1, 2, 3, 4, 5}` 
set1 = {1,2}
set1.update([3,4,5])
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# 4. Write a Python program to remove an element from a set using `remove()` and explain 
# what happens if the element is not present. 
 
# 5. Write a Python program to remove an element using `discard()` and explain how it differs 
# from `remove()`. 
# 6. Write a Python program to pop a random element from a set and print it. 
set1 = {1,2,3,4,5}
set1.remove(5)  # removed a specific value in the set, if value not given its thorow an error-keyerror 
print(set1)
set1.discard(11) # same as removed but if value not in set, so does not throw an error
print(set1)
print(set1.pop()) # removed a random number and gives a value 
print(set1)

{1, 2, 3, 4}
{1, 2, 3, 4}
1
{2, 3, 4}

In [26]:
# 7. Write a Python program to find the union of two sets. 
#    Input: `{1, 2, 3}` and `{3, 4, 5}` 
#    Output: `{1, 2, 3, 4, 5}` 

set1 = {1,2,3}
set2 = {4,5,6}
set3  = set1.union(set2)
print("The Union of set1 and set2 is:- ",set3)

The Union of set1 and set2 is:-  {1, 2, 3, 4, 5, 6}

In [27]:
# 8. Write a Python program to find the intersection of two sets. 
#    Input: `{1, 2, 3}` and `{2, 3, 4}` 
#    Output: `{2, 3}` 
set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1.intersection(set2)
print("Intersection of set1 and set2 is:- ",set3)

Intersection of set1 and set2 is:-  {2, 3}

In [29]:
# 9. Write a Python program to find the difference between two sets (elements in set A but not 
# in set B). 
#    Input: `{1, 2, 3}` - `{2, 3, 4}` 
#    Output: `{1}` 
set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1.difference(set2)
print("difference between in set1 and set2 is:-",set3)

difference between in set1 and set2 is:- {1}

In [30]:
# 10. Write a Python program to find the symmetric difference between two sets. 
#     Input: `{1, 2, 3}` and `{3, 4, 5}` 
#     Output: `{1, 2, 4, 5}` 
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.symmetric_difference(set2)
print("Symmetric difference in set1 and set2 is:- ",set3)

Symmetric difference in set1 and set2 is:-  {1, 2, 4, 5}

In [32]:
# 11. Write a Python program to check if a set is a subset of another. 
#     Input: `{1, 2}` is subset of `{1, 2, 3, 4}` → Output: `True`
set1 = {1,2}
set2 = {1,2,3,4}
set3 = set1.issubset(set2)
print("set1 is subset of set2:-",set3)

set1 is subset of set2:- True

In [ ]:
# 12. Write a Python program to check if a set is a superset of another. 
#     Input: `{1, 2, 3}` is superset of `{2, 3}` → Output: `True` 
set1 = {1,2,3}
set2 = {2,3}
set3 = set1.issuperset(set2)
print("set1 is superset of set2:-",set3)

set1 is superset of set2:- True

In [37]:
# 13. Write a Python program to find common elements in three sets. 
#     Input: `{1, 2, 3}`, `{2, 3, 4}`, `{3, 4, 5}` 
#     Output: `{3}` 
set1 = {1,2,3}
set2 = {2,3,4}
set3 = {3,4,5}
set4 = set1.intersection(set2,set3)
print(set4)

{3}

In [39]:
#14. Write a Python program to remove all elements from a set. 
#     Input: `{10, 20, 30}` 
#     Output: `set()` (empty set) 
set1 = {10,20,30}
set1.clear()
print(set1)

set()

In [44]:
# 15. Write a Python program to convert a string to a set of characters and remove all vowels. 
#     Input: `"datascience"` 
#     Output: Set of characters excluding vowels, e.g., `{'d', 't', 's', 'c', 'n'}` 
s = "datascience"
set1 = set(s)
set2 = set()
print("The string converted in SET:-",set1)
vowels = {'a','e','i','o','u','A','E','I','O','U'}
for char in set1:
    if char not in vowels:
        set2.add(char)
print("After removed a vowels in string:- ",set2)

The string converted in SET:- {'a', 'c', 's', 't', 'i', 'n', 'd', 'e'}
After removed a vowels in string:-  {'c', 's', 't', 'n', 'd'}