In [4]:
# 1. Access the third element from the tuple
t = (10,20,30,40,50)
print(t[2])

30

In [5]:
# 2. Access the last element using negative indexing
t = (5,10,15,20)
print(t[-1])

20

In [6]:
# 3. Get a slice from index 1 to 4 (not including 4)
t = (100,200,300,400,500)
print(t[1:4])

(200, 300, 400)

In [7]:
# 4. Reverse a tuple using slicing
t = (1,2,3,4,5)
print(t[::-1])

(5, 4, 3, 2, 1)

In [8]:
# 5. Get every second element using slicing
t = (1,2,3,4,5,6)
print(t[::2])

(1, 3, 5)

In [10]:
# 6. Get the first three elements of a tuple
t = (11,22,33,44,55)
print(t[:3])

(11, 22, 33)

In [11]:
# 7. Extract all elements except the first and last
t = (1,2,3,4,5)
print(t[1:-1])

(2, 3, 4)

In [19]:
# 8. to get sub tuple starting from the third element till the end
t = (5,10,15,20,25,30)
print(t[2:6:1])

(15, 20, 25, 30)

In [20]:
# 9 to access the second last element of the tuple
t = (100,200,300,400)
print(t[-2])

300

In [26]:
# 10 to create a new tuple by joining the first two and last two element
t = (1,2,3,4,5,6)
t2= (t[:2]+t[-2:])
print(t2)

(1, 2, 5, 6)

In [27]:
# 11 find sum of all element in tuple using loop
sum=0
t = (1,2,3,4,5)
for i in t:
    sum=sum+i
print("Sum of all element in tuple:-",sum)

Sum of all element in tuple:- 15

In [28]:
# 12 count how may even number in the tuple
even=0
t = (10,15,20,25,30)
for i in t:
    if i%2 ==0:
        even=even+1
print("Total even number in above tuple:- ",even)

Total even number in above tuple:-  3

In [30]:
# 13 program to multiply all element in tuple
m=1
t = (2,3,4)
for i in t:
    m=m*i
print("multiply all element in tuple is :- ",m)

multiply all element in tuple is :-  24

In [ ]:
# add corresponding elementd from two tuple of the same length and return a new tuple
t1 = (1,2,3)
t2 = (4,5,6)
t3 = ()
for i,j in zip(t1,t2):
    t3 = t3+(i+j,) # To create a one-element tuple, you must use a comma.
print(t3)

(5, 7, 9)